/* styles.css */
@import url(https://cdn.imzuxi.com/assets/fonts/fonts.css);
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 1000;
    background-color: #000000;
    font-family: Quicksand, Arial, sans-serif;
    overflow-x: hidden;
    overflow: hidden;
    background: url('https://cdn.imzuxi.com/assets/img/logolarge.png') center center fixed;
}

.container {
    text-align: center;
    width: 300px; /* Set a fixed width for the container */
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000000a1;
    overflow-y: hidden;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #00aeff;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #00aeff;
}

.poster img {
    width: 100%; /* Ensure the image fits within the container */
    height: auto;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.poster img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.soundcloud {
    margin-top: 20px;
}

.soundcloud iframe {
    width: 100%; /* Ensure the iframe fits within the container */
    height: 166px; /* Fixed height for SoundCloud iframe */
    border-radius: 10px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    scroll-snap-type: x mandatory;
    padding: 20px;
    background-color: #000000a1;
}

.item { 
    padding-left: 5px;
    padding-bottom: 10px;
}

.content-container {
    background-color: #333;
    max-width: 1100px;
    border-radius: 20px;
    padding: 10px;
    scroll-behavior: smooth;
    color: cyan;
    border-right: 5px solid #333;
    display: flex;
    flex-direction:column;
    overflow: auto;
    height: 82vh;
    box-sizing: border-box;
}

.content-container::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
}

.content-container::-webkit-scrollbar-track {
    background: #F4668C; /* Set the background of the scrollbar track */
}

.content-container::-webkit-scrollbar-thumb {
    background-color: #00aeff; /* Set the color of the scrollbar thumb */
    border-radius: 20px; /* Make the scrollbar thumb rounded */
    border: 1px solid #00aeff; /* Set the border of the scrollbar thumb */
}

.container-wrapper {
    width: 85%;
    display: flex;
    flex-direction: column;
}

/* Arrow styles */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-10%);

    font-size: 50px; /* Adjust the size of the arrows */
    color: #555;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

.left-arrow {
    left: 0px;
}

.right-arrow {
    right: 10px;
}

.arrow:hover {
    color: #000;
}
.hidden {
    visibility: hidden;
}