@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Single+Day);
@import url(https://cdn.imzuxi.com/assets/fonts/fonts.css);


body,
p {
    margin: 0
}

#VIDEO,
body {
    height: 100vh
}

#VIDEO,
ul li a::before {
    top: 0;
    left: 0;
    z-index: -1
}

.additional-box,
.full-width-box {
    background-color: #333;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    color: #FFFFFF
}

#noscript,
#zuxiheader {
    background: rgba(0, 0, 0, .8);
    z-index: 1000
}

.container,
ul li a {
    text-align: center
}

a,
a:hover {
    text-decoration: none
}

body {
    background-color: #222;
    font-family: Quicksand, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://w.wallhaven.cc/full/p9/wallhaven-p93v6j.png') center center fixed;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

#container {
    font-family: Quicksand,  monospace;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 500px;
    background-color: #000000a1;
    border-radius: 10px;
    overflow-y: auto;
    padding: 10px;
    scroll-behavior: smooth;
    color: #FFFFFF;
    overflow-x: hidden
}

#container::-webkit-scrollbar {
    width: 5px
}

#container::-webkit-scrollbar-track {
    background: #33333300
}

#container::-webkit-scrollbar-thumb {
    background-color: #22222200;
    border-radius: 20px;
    border: 3px solid #33333300
}

#container-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column
}

#profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #333
}

#text-container {
    display: flex;
    align-items: center;
    margin-right: 10px
}

#text-content {
    margin-left: 10px
}

h1 {
    font-size: 36px;
    margin-bottom: 5px
}

p {
    font-size: 16px
}

hr {
    border: 1px solid #555;
    width: 100%;
    margin: 10px 0
}

ul li a,
ul li a::before {
    border-radius: 50%;
    transition: .5s
}

.additional-box h2,
.additional-box p,
ul {
    margin: 0
}

.social-contaner {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px
}

.glitch,
ul,
ul li a {
    position: relative
}

ul {
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

ul li {
    list-style: none;
    margin: 0 4px
}

ul li a {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 63px;
    background: #333;
    font-size: 30px;
    color: #667
}

ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    transform: scale(.9)
}

ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #FFFFFF
}

ul li a:hover {
    color: #FFFFFF;
    box-shadow: 0 0 5px #FFFFFF;
    text-shadow: 0 0 5px #FFFFFF
}

#VIDEO {
    object-fit: cover;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    position: fixed
}

.additional-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px
}

.additional-box {
    width: 48%;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
    align-items: center
}

.box-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px
}

.box-content,
.progress-details {
    flex-grow: 1
}

.small-text {
    font-size: 12px
}

.full-width-box {
    width: 98%;
    height: 20%;
    border-radius: 10px;
    padding: 12px;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

@media (max-width:1300px) {
    .additional-box {
        width: 100%;
        margin-right: 0
    }
}

@media only screen and (max-width:600px) {
    ul {
        width: 1%;
        top: 10%;
        transform: none
    }

    ul li {
        margin: 10px 0
    }

    #VIDEO,
    .mobile-hidden {
        display: none
    }

    .additional-box {
        width: 100%
    }

    .full-width-box {
        width: 92%
    }
}

.progress-bar {
    width: 99%;
    height: 10px;
    background-color: #555;
    border-radius: 5px;
    margin-top: 10px
}

.progress-indicator {
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 0;
    transition: width 1s
}

#noscript,
#zuxiheader,
.progress-content {
    width: 100%;
    display: flex
}

.progress-content {
    align-items: center;
    justify-content: space-between
}

.progress-image {
    width: 90px;
    height: 90px;
    margin-right: 10px
}

.progress-times {
    flex-grow: 1;
    display: flex;
    justify-content: space-between
}

#progress-current-time,
#progress-total-time {
    font-size: 14px;
    color: #FFFFFF
}

.invisible {
    background-color: #00000000;
    height: 5px
}

#noscript {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    justify-content: center;
    align-items: center
}

#zuxiheader,
.glitch span {
    position: absolute;
    top: 0;
    left: 0
}

#zuxiheader {
    height: 160%;
    justify-content: center;
    align-items: center;
    animation: 3s ease-in-out forwards moveLogo
}

@keyframes moveLogo {
    0% {
        top: -300px
    }

    100% {
        background: rgba(0, 0, 0, 0);
        top: -68vh
    }
}

.glitch {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: .05em 0 0 #00fffc, -.03em -.04em 0 #fc00ff, .025em .04em 0 #fffc00;
    animation: 725ms infinite glitch
}

.glitch span:first-child {
    animation: .5s infinite glitch;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-.04em, -.03em);
    opacity: .75
}

.glitch span:last-child {
    animation: 375ms infinite glitch;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(.04em, .03em);
    opacity: .75
}

@keyframes glitch {

    0%,
    15% {
        text-shadow: .05em 0 0 #00fffc, -.03em -.04em 0 #fc00ff, .025em .04em 0 #fffc00
    }

    16%,
    49% {
        text-shadow: -.05em -.025em 0 #00fffc, .025em .035em 0 #fc00ff, -.05em -.05em 0 #fffc00
    }

    50%,
    99% {
        text-shadow: .05em .035em 0 #00fffc, .03em 0 0 #fc00ff, 0 -.04em 0 #fffc00
    }

    100% {
        text-shadow: -.05em 0 0 #00fffc, -.025em -.04em 0 #fc00ff, -.04em -.025em 0 #fffc00
    }
}

a {
    color: #b5b5be;
    background-color: transparent
}

a:hover {
    color: var(--theme-color)
}

a:not([href]),
a:not([href]):hover {
    color: inherit;
    text-decoration: none
}
